{#
/**
 * @file recently_read.html.twig
 * Default theme implementation to present Recently read data.
 *
 * This template is used when viewing Recently read pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_recently_read()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recently_read') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div> 